@import "tailwindcss";

@font-face {
  font-family: "LogoFont";
  src: url("./assets/fonts/BespokeStencil-Extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
